*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    width: 100px;
}

.navbar{
    height: 75px;
    
}

ul{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 5px;
    border: 1px solid red;

}

@media screen and (max-width: 600px) {
    
    ul{
        flex-direction:  column;

    }
    span{
        text-align: center;
    }
    /*Apply the following styles if maximum width is 600px or <=600px */
}